body {
  padding: 30px;
  background-color: #5eb9f1;
  font-family: Monospace;
}

#chatbox {
  height: 80svh;
  padding: 5px;
  border: 1px solid #000000;
  overflow-y: scroll;
}

#chatbox > p {
  margin: 0;
  color: #bbbbbb;
  font-size: 1rem;
}

input {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #000000;
  border-top-width: 0;
  box-sizing: border-box;
  color: #bbbbbb;
  background-color: #ffffff;
  outline: none;
  font-family: Monospace;
  font-size: 1rem;
}